### Arquivos de build e compilação ###
/target/
/build/
/out/
/bin/
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
**/build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### Diretórios e arquivos de IDEs ###
# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

# Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
!**/src/main/**/bin/
!**/src/test/**/bin/

# VS Code
.vscode/
*.code-workspace

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### Config Local ###
application-local.properties
application-local.yml
application-dev.properties
application-dev.yml
*.log
*.log.*
logs/

### Arquivos do sistema operacional ###
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

### Arquivos Maven ###
.mvn/
mvnw
mvnw.cmd
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml

### Arquivos Gradle ###
.gradle
gradle/
gradlew
gradlew.bat

### MongoDB ###
/data/
/dump/
*.mdb